[2020-11-25 23:24] sbslee opened #1 "Ideas for the next Dokdo version (1.2.0)"
# Ideas that are already implemented:
* ~~Retire the tax2seq command from the Dokdo CLI. It turns out the QIIME 2 CLI already has this functionality. For details, see this QIIME 2 forum [post](https://forum.qiime2.org/t/how-to-retreive-sequence-from-a-specific-taxonomic-assignment/17588/2). Also, update the QIIME 2 CLI page in Dokdo's Wiki page.~~ Done, see 47cbcff.
* ~~Update the `_artist()` meth

[2020-12-08 08:21] #1 closed

[2020-12-10 06:09] sbslee opened #2 "Ideas for the next Dokdo version (1.3.0)"
These ideas will be implemented to the `1.3.0-dev` branch before the official release.

# Ideas that are already implemented:

* ~~Update the `ordinate()` method so that the user can choose not to perform rarefying. This is because the user may wish to provide an already rarefied/normalized table. The current behavior requires rarefying.~~ Done, see 686ad0c.
* ~~Update the `ordinate()` method so t

[2020-12-23 01:29] #2 closed

[2020-12-23 04:58] sbslee opened #4 "Ideas for the next Dokdo version (1.4.0)"
These ideas will be implemented to the `1.4.0-dev` branch before the official release.

# Ideas that are already implemented:
* ~~Update the `make_manifest` command so that the sample IDs are determined better. Currently, the
word before the first underscore is set as the sample ID (e.g. 'EXAMPLE'
in EXAMPLE_S1_R1_001.fastq.gz). This works fine in most cases, but gives an error for file names like

[2021-01-09 06:23] #4 closed

[2021-01-14 10:00] sbslee opened #6 "Ideas for the next Dokdo version (1.5.0)"
These ideas will be implemented to the `1.5.0-dev` branch before the official release.

# Ideas that are already implemented:
* ~~Update the `alpha_diversity_plot` method to accept metadata.~~ Done, see 290cebf.
* ~~Update the `alpha_diversity_plot` method to accept as input a `SampleData[AlphaDiversity]` file (e.g. `shannon_vector.qza`) instead of the Visualization file from `qiime diversity alph

[2021-02-03 00:13] #6 closed

[2021-02-03 11:01] sbslee opened #8 "Ideas for the next Dokdo version (1.6.0)"
These ideas will be implemented to the `1.6.0-dev` branch before the official release.

# Ideas that are already implemented:
* ~~Fix typo for the `add-metadata` command.~~ Done, see 496c06e.
* ~~Fix bug with the `heatmap()` method giving the `FloatingPointError: NaN dissimilarity value.` error when sample-filtered metadata is provided and the `metric='correlation'` argument is used. The error is

[2021-02-03 15:39] IrshadUlHaq1 commented on #8
Great work and an excellent resource. Would be nice to incorporate how to do NMDS with QIIME2 generated distances matrices. Also, applying statistics on those taxa box plots would save a lot of time.

[2021-02-03 22:47] sbslee commented on #8
@IrshadUlHaq1, thanks for the kind words and the ideas! I will look into it.

[2021-03-08 01:46] #8 closed

[2021-03-09 10:57] sbslee opened #10 "Ideas for the next Dokdo version (1.7.0)"
These ideas will be implemented to the `1.7.0-dev` branch before the official release.

# Ideas that are already implemented:
* ~~Add a new command called `count-reads` which counts the number of sequence reads from FASTQ.~~ Done, see 4692736.
* ~~Replace `_pretty_taxa()` with `pname()` for the `taxa_abundance_box_plot()` method.~~ Done. see a4d35f9.
* ~~Move the `legend_short` argument from the `

[2021-04-05 03:25] #10 closed

[2021-06-04 06:56] khemlalnirmalkar opened #14 "genus level average bar plot"
Hi @sbslee ,
Thanks for your codes, much easier to make bar plots,
Please can you also suggest, how to make an average of all samples from each group and make a bar plot at the genus level from qzv file?
Thanks

[2021-06-06 04:01] khemlalnirmalkar opened #15 "installation issue"
Hi,
I installed dokdo in qiime2 environment  (v 2019, 2021.4),
$ git clone https://github.com/sbslee/dokdo
$ cd dokdo
$ pip install .
but i am keep getting following issue:

pkg_resources.DistributionNotFound: The 'dokdo==1.8.0' distribution was not found and is required by the application

and also checked in notebook but cant import dokdo, saying not found dokdo module
Please can you guide me wh

[2021-06-06 04:55] sbslee commented on #15
Hi, thanks for your interest in Dokdo! I'm away from my computer for the next couple days, but I promise to get back to you ASAP when I'm back. Thanks for your patience.

[2021-06-06 16:54] khemlalnirmalkar commented on #15
No worries, i will wait,
Thanks for the response,

[2021-06-07 01:51] sbslee commented on #14
Thanks for the idea, I will work on this.

[2021-06-07 01:57] sbslee commented on #15
@khemlalnirmalkar,

Thanks for your patience. As you can see below, I set up a fresh conda environment for `qiime2-2021.4` and then successfully installed Dokdo in the exact same manner as you did. Did you make sure to set up a fresh conda environment before installing Dokdo?

[code]

[2021-06-07 02:06] sbslee commented on #15
@khemlalnirmalkar,

If you experience the same issue even after you set up a fresh conda environment, please also upload the full error message (not just the last line like you did before).

[2021-06-07 05:17] khemlalnirmalkar commented on #14
Yes, please that will be great.  Thanks

[2021-06-07 05:20] khemlalnirmalkar commented on #15
Thanks for checking. Very strange, i did try with a new conda environment for qiime2. Now, I closed my terminal, notebook and tried again. It seems all good n working. Sorry about that, I should have explored a little bit more.

[2021-06-07 08:17] sbslee commented on #15
Good to hear that. No worries. Closing this.

[2021-06-07 08:17] #15 closed

[2021-06-07 09:16] sbslee commented on #14
@khemlalnirmalkar,

As you can see below, I added the `group` option to the `taxa_abundance_bar_plot` method, which will create a bar for each group instead of each sample. This is implemented in dokdo-1.9.0. Please install Dokdo again in order to use this feature. If you have any questions regarding the update, please let me know. I also updated Dokdo API to reflect this change.

![taxa_abundance

[2021-06-07 09:16] #14 closed

[2021-06-07 10:40] khemlalnirmalkar commented on #14
Thank you so much, for the quick action,
I could replicate the plot.

[2021-06-07 11:00] sbslee commented on #14
@khemlalnirmalkar,

First off, you can easily change the font size of group labels right now:

[code]

![example1](https://user-images.githubusercontent.com/21111749/121005273-9f9b2c00-c7ca-11eb-825e-7dfcd31d771a.png)

For more details, please see the [Title, Axis, Legend, Font Size section](https://dokdo.readthedocs.io/en/latest/dokdo_api.html#title-axis-legend-font-size) in Dokdo API.

As for th

[2021-06-07 11:14] khemlalnirmalkar commented on #14
awesome, thank you so much!! i will use development version.

[2021-06-22 23:03] khemlalnirmalkar opened #17 "how to control the color codes for specific bacteria"
Hi,
Dokdo  has been very useful for me, and thanks again for the v1.10
I was wondering is there any way to control the color codes for specific bacteria and the order in the bar.
I have two different set of data but my control is the same for both.
Now, i wanted to keep for some bacteria (top 10-15) same color codes. so, i used RGB color codes to control the type of color but color is changing bas

[2021-06-22 23:36] sbslee commented on #17
@khemlalnirmalkar,

There are a number of ways to achieve what you are describing:

1) If the two datasets you are trying to plot are coming from two separate .qzv files (`taxa-bar-plots.qzv`), then use the `colors` option to **manually** control the order of colors based on the identity of taxa. For example:

[code]

2) [Recommended method] If there is only one .qzv file, you can use options like

[2021-06-23 00:44] khemlalnirmalkar commented on #17
![don](https://user-images.githubusercontent.com/32944151/123017249-0d298980-d381-11eb-8674-827766aefe93.png)

hi,
Thanks for the quick response,
I decided to use your second option, but please the attached image and my codes,
i added show legend=true for 2 different plots and colors are not matching,
I guess i am missing something

*************************** please see below
fig, [ax1, ax2, ax3,

[2021-06-23 00:55] sbslee commented on #17
@khemlalnirmalkar,

I think I know what the problem is. Basically, how the second method normally works is you maintain the original order of taxa in the .qzv file. This should work for cases involving individual samples. However, because you are using the `group` option (which was introduced lately as you would remember), you are essentially creating a new order of taxa every time the method is c

[2021-06-23 00:57] khemlalnirmalkar commented on #17
Okay, sounds great,
I will use 1st for now,
Thanks you so much for being super supportive,
Best,
Khem

[2021-06-23 03:34] sbslee commented on #17
@khemlalnirmalkar,

I fixed the issue! It turns out the problem was the `group_order` option causing changes in the order of taxa. See the fixed example below:

![fixed](https://user-images.githubusercontent.com/21111749/123031335-1f5a0500-d41f-11eb-9d3b-e0bbce67207b.png)

[code]

Please re-install the `1.10.0-dev` version with the fix. I just made a commit on it. Let me know if the problem persis

[2021-06-23 03:42] khemlalnirmalkar commented on #17
wowww, thank you so much for solving the issue so fast,
appreciated,
One more question, hope the last one,
If you see my previous figure, bar widths are different. Is there any option to control or keep the same?
I tried, but didn't work and also legend font size (e.g. legend_fontsize=12) didn't work.

[2021-06-23 03:51] sbslee commented on #17
@khemlalnirmalkar,

It's a bit tricky because bar widths are controlled by many factors including the method itself, the width ratio of subplots, etc.

The easiest solution that comes to my mind is playing with the `gridspec_kw` option until the bars look to have about the same width like shown below:

![fixed](https://user-images.githubusercontent.com/21111749/123032708-60531900-d421-11eb-9b33-49

[2021-06-23 03:56] khemlalnirmalkar commented on #17
Okay, make sense,
Thanks,
What about legend font size (e.g. legend_fontsize=12)? i tried to change but didn't work.

[2021-06-23 04:00] sbslee commented on #17
Can you show me an example of code where you used the `legend_fontsize` option but the output didn't reflect the change? As you can see from the attached photo, it works fine in my end (`legend_fontsize=25`):

![fixed](https://user-images.githubusercontent.com/21111749/123033589-f5a2dd00-d422-11eb-92b8-66595ce7acb7.png)

[code]

[2021-06-23 04:08] khemlalnirmalkar commented on #17
If you see both images, legend font size I change from 14 to 26, nothing happened,
Sorry about the quality of the image,
Yours working,
Probably some issue from my side,

![image](https://user-images.githubusercontent.com/32944151/123034070-ba11ff80-d39d-11eb-8046-9ed638c7322b.png)

![image](https://user-images.githubusercontent.com/32944151/123034040-a8c8f300-d39d-11eb-8e22-3095de10633b.png)

[2021-06-23 04:12] sbslee commented on #17
Got it. It's because you're re-drawing the legend after the method call with:

[code]

Instead of doing that, just add an additional subplot and then plot only the legend in that extra subplot as I recommended in the website: https://dokdo.readthedocs.io/en/latest/dokdo_api.html#plotting-legend-separately

[2021-06-23 04:13] sbslee commented on #17
Also, I'm closing this because the original issue has been resolved. But please don't hesitate to ask any follow-up questions.

[2021-06-23 04:13] #17 closed

[2021-06-23 04:15] khemlalnirmalkar commented on #17
Okay, thank you so much for everything,

[2021-06-23 18:09] khemlalnirmalkar opened #18 "orders and group mismatch"
Hi @sbslee ,
I found a small mismatch during grouping and orders of bacteria.
Probably the way my data is but thought maybe you will have a solution,
instead of going and labeling each bacteria with colors.
if you see both figures, one small difference is prevotella and lactobacillaceae.
I wanted to keep Prevotella in both figures but couldn't control.
I guess, its how they started grouping, in fi

[2021-06-23 23:26] sbslee commented on #18
@khemlalnirmalkar,

Hmmm. The fix I made yesterday regarding the `group_order` option (#17) shouldn't allow this to happen. Are you sure you reinstalled the latest version of Dokdo (`1.10.0-dev`)? Also, can you send me your .qzv file so I can test from my end? If you can't, no worries.

[2021-06-24 00:00] khemlalnirmalkar commented on #18
Yes, re-installed and i guess its working well. i cross checked with different sub-set of data using specific grouping/category.
If you see both code, in one i used group_order "DonNew" but in the second one no grouping. i am not sure, if that is the reason. Reason of making second plot is to see the abundance of bacteria in a specific time point/longitudinally. this is the step i am getting stuck

[2021-06-24 00:25] khemlalnirmalkar commented on #18
sent....

[2021-06-24 01:30] sbslee commented on #18
I got your file. Will get back to ASAP!

[2021-06-24 03:57] khemlalnirmalkar commented on #18
Okay, thank you!

[2021-06-24 10:45] sbslee commented on #18
@khemlalnirmalkar,

Thank you for your patience. This was indeed a bug with the `group` option (sorry, still getting used to having this option). Below are before and after the fix:

Before:

![original](https://user-images.githubusercontent.com/21111749/123249940-7990be00-d524-11eb-98c2-f7c48917e575.png)

After:

![fixed](https://user-images.githubusercontent.com/21111749/123249945-7c8bae80-d524-

[2021-06-24 22:09] khemlalnirmalkar commented on #18
Hi @sbslee
Thank you so much for fixing it,
one question, when we choose sort_by_mean2=False, sort_by_mean3=False, how the sorting of taxa works?
still with mean? but mean of particular taxa's abundance in all samples?  or in one sample or in first sample of the list/group.
reason of asking, because Prevotella's abudance in my two donors are ~27%, & ~17%. Now i cant see in count 20.
thats strange.

[2021-06-24 22:24] sbslee commented on #18
@khemlalnirmalkar,

When you set `sort_by_mean2` and `sort_by_mean3` as False, the taxa will be sorted by their mean abundance across all samples. This ensures that all of your subplots have the identical color schemes for all taxa regardless of sample grouping/filtering.

If I understand your question correctly, you want Prevotella to be included in the plots, but it gets merged with 'Others' bec

[2021-06-24 23:25] khemlalnirmalkar commented on #18
Yes, please. You can close the issue,
Thank you so much for everything,
I will open a new issue, if i get any error,

[2021-06-24 23:26] #18 closed

[2021-07-05 07:58] sbslee opened #19 "Deprecate the artist_kwargs argument from plotting methods"
The ``artist_kwargs`` argument in main plotting methods -- and the `dokdo.common._artist` method for that matter -- will be gradually deprecated because it has gotten unnecessarily complicated.

This argument was originally created because I was not familiar enough with the `matplotlib` package and did not want to memorize the package's methods used for changing various properties of a figure (e.g

[2021-07-08 05:16] khemlalnirmalkar opened #21 "can we use dokdo without qiime files"
Hi @sbslee ,
Dokdo works great with qzv files,
Can we also use Dokdo for relative abundance data from txt files, instead of qiime's qzv files?
Thanks,

[2021-07-08 05:26] sbslee commented on #21
@khemlalnirmalkar, that's an interesting suggestion.

Q1. If it's not a visualization file from QIIME 2, may I ask how you are generating your "txt files"?
Q2. I suppose a user can provide a `pandas.DataFrame` object as input instead of a `qiime2.Visualization` object. Do you think that will be sufficient for your case?

[2021-07-08 06:14] khemlalnirmalkar commented on #21
Ans1 data is from shotgun sequences but it's already in relative abundance for taxonomy. It Should not matter if it is for 16 or shotgun

Ans2 I was thinking trying the same. I will give a try and see if it works or not. Dokdo is simple and easy to use... thinking to use for plots from all my shotguns relative abundance data.

Thanks

[2021-07-08 08:15] sbslee commented on #21
@khemlalnirmalkar, I get it now. Thanks for the answers. As for Q2, the current `dokdo.taxa_abundance_bar_plot` method won't accept `pandas.DataFrame` yet. I will create a development branch and try to implement the function to do just that. Will let you know here when it's done. In the meantime, you're more than welcome to tweak it around yourself as well. You may find better solution :)

[2021-07-08 15:23] khemlalnirmalkar commented on #21
@sbslee That will be great, thank you so much.

[2021-07-09 00:14] sbslee commented on #21
@khemlalnirmalkar,

Great new! I was able to update the `dokdo.taxa_abundance_bar_plot` method to accept `pandas.DataFrame` as input. This was actually pretty easy because internally the method already extracts a .csv file from the QIIME 2 visualization and then converts it to a `pandas.DataFrame`. Therefore, all I needed to do was skipping this part when the input is already a `pandas.DataFrame`.

[2021-07-09 03:47] khemlalnirmalkar commented on #21
[test2.csv](https://github.com/sbslee/dokdo/files/6788563/test2.csv)

Hi @sbslee ,
Thanks for making this change and your support.
I tried this with my data and didnt go well,

i got an error
TypeError: no numeric data to plot
this error doesnt make sense, probably something i am missing,
Here i attached one of my test file,
I have ~5k taxa but that didnt work and not even with test file,
Please c

[2021-07-09 04:00] sbslee commented on #21
@khemlalnirmalkar,

That's because in your current file, it's difficult to distinguish between data columns (e.g. 'Prevotella_species') vs. metadata columns (e.g. 'Group'). In the QIIME 2 visualization file, data columns are indicated by the presence of two consecutive underscores (`__`). For example, your `Prevotella_species` column would be `s__Prevotella_species` for species and `g__Prevotella_

[2021-07-09 04:06] sbslee commented on #21
Here's the another example CSV file which you can use as template.

[level-6.csv](https://github.com/sbslee/dokdo/files/6788629/level-6.csv)

[2021-07-09 04:43] khemlalnirmalkar commented on #21
@sbslee Thanks for checking the file. I will make these changes to my original dataset and will  let you know you soon.
 I already tried with qiime2 examples file, and it worked. Sorry i forgot to mention earlier. If you want you can close the issue.

Thanks a lot,
Khem

[2021-07-09 04:45] sbslee commented on #21
No worries. Please feel free to reopen this issue if there is any problem.

[2021-07-09 04:45] #21 closed

[2021-07-09 05:35] khemlalnirmalkar commented on #21
@sbslee its working, thank you so much,
I hope in future you can add more  cool plots and type of analyses for the shotgun data :)
Khem

[2021-07-15 22:40] khemlalnirmalkar opened #22 "how to make heatmap with text file"
Hi @sbslee ,
Is it possible to make a heatmap using a panda dataframe (not qza)?
i am trying to replicate the same style like bar plot, splitted categories with and without dendrogram.
Please can you help?

like this image
![image](https://user-images.githubusercontent.com/32944151/125866670-d1681845-a5a7-4294-b99a-389ebd0d297e.png)

Thanks,
Khem

[2021-07-18 02:48] sbslee commented on #22
@khemlalnirmalkar, thanks for the question.

First of all, I just updated the `dokdo.heatmap` method in the `1.11.0-dev` branch to accept `pandas.DataFrame` (click [here](https://dokdo.readthedocs.io/en/1.11.0-dev/dokdo_api.html#module-dokdo.api.heatmap) to see the documentation):

[code]

Example CSV file for creating input `pandas.DataFrame`: [table.csv](https://github.com/sbslee/dokdo/files/683

[2021-07-18 19:12] khemlalnirmalkar commented on #22
@sbslee ,
Yes, this is great. Thanks for updating the code.
I hope we can rotate the plot too, like keeping the taxa on the right top and samples on the bottom.
Heatmap, ComplexHeatmap and some other R & py packages allow annotation and splitting of the heatmap. I like dokdo and It would be great if Dokdo can allow similar changes,
Thanks again,
Khem

[2021-07-18 23:35] sbslee commented on #22
@khemlalnirmalkar,

If it's something that's not too difficult to implement, I'd be more than happy to make updates do Dokdo. So please keep letting me know :) That being said, I updated the `dokdo.heatmap` to allow flipping of the x and y axes:

[code]

![heatmap-3](https://user-images.githubusercontent.com/21111749/126085437-7cbf5f63-2279-43ff-b39f-277ada735268.png)

Next up is splitting a heatm

[2021-07-23 04:47] khemlalnirmalkar commented on #22
Hi @sbslee
My apologies totally distracted by some other work.  The abundance file I sent you, was generated through Kraken2 https://github.com/DerrickWood/kraken2/wiki/Manual
As I know, there was no clustering method was applied. I just wanted to make a heatmap with my own order.
Thanks

[2021-07-26 00:48] sbslee commented on #22
@khemlalnirmalkar,

Good news! Once I realized that some users like yourself don't need (or want) clustering of their samples and/or taxa, I decided to rename the `heatmap` method to `clustermap` ([documentation](https://dokdo.readthedocs.io/en/1.11.0-dev/dokdo_api.html#clustermap)) and devise a new method called `heatmap` ([documentation](https://dokdo.readthedocs.io/en/1.11.0-dev/dokdo_api.html#

[2021-07-26 05:09] khemlalnirmalkar commented on #22
@sbslee,
This is great, thank you so much.
Quick question, can we group the samples based on category (like bar plot has an option "group order") instead of using each sample ID? can we normalize the abundance by z-score too?
Once again, I appreciate your constant help,

Khem

[2021-07-26 06:46] sbslee commented on #22
@khemlalnirmalkar,

Those are great questions. I updated the `heatmap` method to 1) support the Z score normalization and 2) accept the `metadata` and `where` arguments:

[code]

![heatmap-updated](https://user-images.githubusercontent.com/21111749/126944577-c4cfda53-d5d6-4b7f-b275-46c0bc579a74.png)

P.S. AFAIK, microbiome relative abundance data will give best results when normalized with log-bas

[2021-07-26 17:38] khemlalnirmalkar commented on #22
@sbslee  Thanks for the quick action.
Agree, log10 or CLR would be better for microbial abundance. I was thinking to use Z score for metabolites data :).
Thank you so much for everything,
Khem

[2021-07-27 05:18] khemlalnirmalkar opened #23 "can i install without qiime2 in windows"
Hi @sbslee
Is it possible to use dokdo through Jupyter notebook in windows without qiime2?
Sorry, if I missed something in your documentation section.
Thanks,

[2021-07-27 05:23] sbslee commented on #23
@khemlalnirmalkar,

Unfortunately, Dokdo must be run in an environment where QIIME 2 is already installed because Dokdo uses QIIME 2 API extensively. May I ask why you're asking the question? Maybe I can still help.

[2021-07-27 05:28] khemlalnirmalkar commented on #23
@sbslee,
I just wanted to avoid switching windows to linux or use a workstation.

[2021-07-27 05:30] sbslee commented on #23
@khemlalnirmalkar,

Got it. If that's the case, there isn't much I can do to help :( Sorry!

[2021-07-27 05:31] khemlalnirmalkar commented on #23
@sbslee no worries, thanks for the quick response,

[2021-07-27 05:31] #23 closed

[2021-07-27 14:04] mishkb opened #24 "Heatmap with prettified names?"
Hi @sbslee ,
Thanks for your very recent updates to heatmap (from clustermap) - just in time for what I need. Just wondering how I could incorporate your 'prettified names' function - to get taxa names as the y-axis labels such as is possible in the legend of the taxa_abundance_bar_plot output?

Thanks,
Michelle

[2021-07-27 18:01] khemlalnirmalkar commented on #22
@sbslee,
I have a  question on heatmap code
When i am splitting the heatmap with categories, i am losing the sample order, see the attached image. first, start with MS117 but when split, it changes. for paired samples, its important to keep the order. how can i fix it?
![image](https://user-images.githubusercontent.com/32944151/127203745-961a1fea-c216-4abb-b598-8543477152af.png)

![image](https://

[2021-07-27 23:42] sbslee commented on #22
@khemlalnirmalkar,

1. As for the `s__` prefix, you don't have to worry about that for the `heatmap` and `clustermap` methods. That concern is only for the `taxa_abundance_bar_plot` method. For example, if you look at the very first plot I posted in this thread, you will see that I provided a CSV file with taxa names that do not have any prefix.

2. If it's truly important to keep the exact order

[2021-07-27 23:52] sbslee commented on #22
@khemlalnirmalkar,

I thought about this more, and I think the following might help in your case. Basically, I added the `sort_samples` argument in the `heatmap` method:

[code]

![heatmap-1](https://user-images.githubusercontent.com/21111749/127241970-74eeb56b-3897-40b2-a8dc-f563011c38dc.png)

[code]

![heatmap-2](https://user-images.githubusercontent.com/21111749/127241989-dbe7ec7d-ab9d-403c-bfa

[2021-07-28 00:07] sbslee commented on #24
@mishkb,

Thanks for the great suggestion! I just added the `pretty_taxa` argument to the `heatmap` method in the `1.11.0-dev` branch (the official release of `1.11.0` will be made within 10 days; I aim to make a Dokdo release every month). When you set `pretty_taxa=True` it will display only the smallest taxonomic rank like how it's done in the `taxa_abundance_bar_plot` method with the `legend_sh

[2021-07-28 00:30] mishkb commented on #24
This is wonderful - thanks for your prompt response. Based on your figures, this is just what I was looking for.  I'll give it a whirl today.

[2021-07-28 00:58] khemlalnirmalkar commented on #22
@sbslee Awesome,
Thank you so much for the update :)
I am sorry for keep asking, now i need one more suggestion,
If you see this image, for Prevotella, the abundance level is very low. if i want to avoid making a separate heatmap for Prevotella, Is it possible to stretch more the scale from 0-0.1? or increase the color range for scale 0-0.1.

![image](https://user-images.githubusercontent.com/3294

[2021-07-28 01:22] sbslee commented on #22
@khemlalnirmalkar,

No worries, you are more than welcome to ask as many questions as you want!

Generally speaking, the `dokdo.heatmap` method uses the `seaborn.heatmap` method, and you can provide `vmin` and `vmax` arguments to both methods to play with scaling of the colormap. Those arguments weren't explicitly exposed to the `dokdo.heatmap` method before (you were still able to provide them as

[2021-07-28 03:42] khemlalnirmalkar commented on #22
@sbslee earlier, I did try with vmin and vmix but was not helpful,
I will give it a try with a separate plot and will see, how it looks. Otherwise just one plot.
Thanks for your help,

[2021-07-28 03:48] sbslee commented on #22
@khemlalnirmalkar,

Sounds good. One thing to note is that if you are going to plot a separate figure just for Prevotella species, you may have to create a `pandas.DataFrame` containing only those species. Otherwise, your normalization will still be affected by the presence of other extremely high or low species. Hope it works.

[2021-07-28 03:53] khemlalnirmalkar commented on #22
@sbslee Agreed..yes, the plan is use panda.dataframe only for Prevotella sps.  Thanks for the suggestion :)

[2021-07-28 08:11] mishkb commented on #24
OK @sbslee ,I've been able to implement that new function - thank you! Now I'm wondering...

1. is possible to change the x-label to another label from the metadata file (e.g. at the moment the heatmap uses the first column as the label [#Sample_ID or similar], but I'd like to use an alternate column i.e. Sample_name.
2. Is it possible to control the number of taxa that are plotted in the heatmap?

[2021-07-29 01:50] sbslee commented on #24
@mishkb,

Thanks for the great ideas. I think I can implement both fairly easily, but let's take one step at a time. I just added the `label_columns` parameter to the `dokdo.heatmap` [method](https://dokdo.readthedocs.io/en/1.11.0-dev/dokdo_api.html#heatmap). It works the same way as it does for the `dokdo. taxa_abundance_bar_plot ` [method](https://dokdo.readthedocs.io/en/1.11.0-dev/dokdo_api.htm

[2021-07-29 04:14] mishkb commented on #24
Works exactly as I was hoping - thanks @sbslee!
Does the heatmap function automatically align labels vertically or horizontally depending on the figure size/space available? (I think I have to look more at the `plt.tight_layout()` function and `matplotlib`.

[2021-07-29 04:20] sbslee commented on #24
@mishkb,

Glad to hear that works for you. As for the rotation of tick labels, AFAIK, it is automatically determined by the `seaborn.heatmap` method (which is used by `dokdo.heatmap`). BTW, you can easily change the rotation of tick labels in the following way:

[code]

It sounds like we are good to move on to the next task: showing only the top taxa. Stay tuned.

[2021-07-29 08:39] mishkb commented on #24
@sbslee I have just realised the 'prettified names" function actually truncates species names to just show the s__name, not g__Genus; s__species name. I just noticed this in the `taxa_abundance_bar_plot` plot and obviously, it also is the same now in heatmaps if I use that option.

Is there a way to return the last two ranks - so in your example,

g__Actinomyces;s__Schaalia_radingae

I am using ta

[2021-07-29 11:44] sbslee commented on #24
@mishkb,

No worries about opening another issue. And thanks for the great suggestion. I myself have come across that issue before. The good news is I just updated the `pname` method to allow returning of more than one taxonomic rank:

[code]

Will produce the usual:

[code]

However, if you provide the `levels` option:

[code]

It will give what you want:

[code]

I extended this to the `heatmap`

[2021-07-29 23:07] mishkb commented on #24
That looks great to me @sbslee - I hope yourself and others will find it useful as well. I really appreciate you making these adjustments and answering my questions.

[2021-07-30 00:04] sbslee commented on #24
@mishkb,

No problem! I also added the `count` argument to the `heatmap` method; it's similar to the `count` argument in the `taxa_abundance_bar_plot ` method:

[code]

![heatmap](https://user-images.githubusercontent.com/21111749/127580387-1cbc2ae2-bd54-4649-9f0e-c63f5a623c5e.png)

Let me know if this is what you wanted.

[2021-07-30 02:36] mishkb commented on #24
Fantastic @sbslee! This has worked perfectly with my data. Thank you again for adding those options to your code. I'm so grateful that I found Dokdo and that you are still actively working on it.

[2021-07-30 03:33] #24 closed

[2021-07-30 03:34] #22 closed

[2021-08-04 11:37] #19 closed

[2021-08-31 01:16] mishkb opened #26 "Reverse order of legend for taxa_abundance_bar_plot"
Hi @sbslee

Are you able to advise how I can reverse the order of the legend of a taxa_abundance_bar_plot?

I've tried using:

handles, labels = ax2.get_legend_handles_labels()
ax2.legend(handles[::-1], labels[::-1])

But this results in a missing legend.

Thanks!

[2021-09-01 00:36] sbslee commented on #26
@mishkb,

As you can see below, your approach is correct and should work:

[code]

![test](https://user-images.githubusercontent.com/21111749/131593172-0eb7d94f-368a-4bfe-a558-4b4f75b8d3f1.png)

Did you run the code that creates the new legend within the same cell or in a separate cell in Jupyter Notebook? They should be run together.

Hope this helps.

[2021-09-01 01:19] mishkb commented on #26
Thanks @sbslee - I'm glad I was on the right track. I can get the reverse order to work as you have shown above, and legends are included in each plot.

But I can't get it to work when I'm using 'artist_kwargs=dict(legend_only=True, legend_loc='upper left') - to display the stacked bar chart with no legend and the legend only the second plot. I'm guessing there is a conflict with the artist?

[2021-09-01 01:29] sbslee commented on #26
@mishkb,

Glad to hear things are working now!

Also, please note that the `artist_kwargs` argument has been completely deprecated in `1.11.0`. As shown in the changelog and in [this](https://github.com/sbslee/dokdo/issues/19) issue, the deprecation process began in `1.10.0` and was completed in `1.11.0`. Therefore, you should not use the argument anymore.

You can still plot the legend only by fo

[2021-09-01 01:38] mishkb commented on #26
Thanks again @sbslee for your quick response. I knew i had read that you were deprecating kwargs but hadn't updated my file (you are making frequent updates - which is great!). I have the latest version of Dokdo.
FYI - I also just found that 'plt.legend(bbox_to_anchor=(x0, y0)' or 'plt.legend(bbox_to_anchor=(x0, y0)' also works to move the legend out of the plot area. So you don't need to set-up t

[2021-09-01 01:45] sbslee commented on #26
@mishkb,

Glad to hear we are on the same page now. And yea, sorry about the frequent updates. I know it can be challenging for end users to stay up to date (been there, done that), but I believe those are worth it :) I promise future updates will be less disrupting for sure -- completely getting rid of `artist_kwargs` was a massive task and that's why it took two separate versions to accomplish i

[2021-09-01 01:56] #26 closed

[2021-09-09 00:21] mishkb opened #27 "Use of taxa_names in taxa_abundance_bar_plot"
HI @sbslee ,

I'm trying to use the 'taxa_names' flag in 'taxa_abundance_bar_plot'. Without the 'taxa_names' I can show different taxa levels from my barplot.qzv file without issue. However, I would like to show just the class level from a specific taxa - e.g. show %abundance from classes from just k__Bacteria;_p__Proteobacteria.

I have tried a few different things with syntax etc (including putt

[2021-09-09 02:02] sbslee commented on #27
@mishkb,

Good question! The issue was caused because you used `level=3` (Kingdom-Phylum-Class) while specifying a Kingdom-Phylum name (`k__Bacteria;p__Proteobacteria`). Setting `level=2` should fix the issue. Try it and let me know if it doesn't solve the problem.

[2021-09-09 02:08] mishkb commented on #27
Thanks as always for your quick responses @sbslee!
OK - I have just got that to work. What I was hoping for was being able to select the Kingdom-Phylum name (k__Bacteria;p__Proteobacteria) but display in the graph the level=3 (Kingdom-Phylum-Class) :-)   But I can provide the class names to display easily enough.

[2021-09-09 02:11] sbslee commented on #27
@mishkb,

Oh I see! That's an interesting idea. I agree that it'd be handy to be able to select all the downstream taxa by providing their parent taxon. If it's something that you foresee yourself doing a lot, I'd be more than happy to implement something that does that.

[2021-09-09 02:13] mishkb commented on #27
I wasn't sure it would be possible given the underlying structure of the barplots.qzv file. But I would definitely use it, and find it easier that supplying a taxa _names list.
Thanks for considering the idea.

[2021-09-16 19:27] integzz opened #28 "Any plan to publish to Pypi or Conda ?"
Hi, this is a wonderful package! Is there any schedule or roadmap of publishing to Pypi or Conda?

[2021-09-16 23:53] sbslee commented on #28
Hi @integzz,

This has always been in my to-do list! When I finally gathered enough motivation and tried to upload to PyPI, I found out that there is another package with the same name. I've contacted the owner of the package. If he or she is willing to remove their package from PyPI (it only has 4 commits), I think I should be able to upload mine quickly. If not, I need to find a way to upload wi

[2021-09-30 06:21] JetbluejetYJ opened #29 "dokdo summarize error"
Hello, I'm hosting a microbiome study these days. Currently, I am learning a lot and feeling grateful through a program called 'dokdo'. This is a wonderful kackage! In the process of performing dokdo pipeline, if you look at the 6th item (6. Summarize and Filter ASV Table), A parameter error occurs in the code of 'dokdo summarize table.qza'. You will be busy with a lot of research, but please chec

[2021-09-30 07:40] sbslee commented on #29
Thanks for reporting the typo! It's been fixed in e0d0683.

[2021-09-30 07:46] #29 closed

[2021-10-01 00:23] RayanaFeltrin opened #30 "Problem with taxa_abundance_bar_plot"
Hey there!

Firstly, congrats on dokdo... I'm in love with the plots it can make and very excited to generate my first one!

Well, I'm working on Jupyter Notebook...
I am with the qiime2 environment already activated, but after running the following code...

[code]
... I've got the following error:

_AttributeError                            Traceback (most recent call last)_
_<ipython-input-7-847

[2021-10-01 00:33] sbslee commented on #30
@RayanaFeltrin,

I'm happy to hear you like dokdo's plots :) As for your problem, it looks like something went wrong during installation. Can you tell me how you installed dokdo? Did you follow the steps described in README:

[code]

Also, can you show me the output of this command in your terminal?

[code]

[2021-10-01 00:49] RayanaFeltrin commented on #30
Thank you for the quick response!

Yeah, I've followed these steps... inclusively, I ran them inside the envs/qiime2-2021.4 folder to ensure dokdo was inside my environment (don't know if the way I did it makes sense).

The output of `dokdo -v` in my terminal is:

_Traceback (most recent call last):
  File "/home/rayana/anaconda3/bin/dokdo", line 5, in <module>
    from dokdo.__main__ import main

[2021-10-01 01:55] RayanaFeltrin commented on #30
# Name                    Version                   Build  Channel
_libgcc_mutex             0.1                 conda_forge    conda-forge
_openmp_mutex             4.5                       1_gnu    conda-forge
_r-mutex                  1.0.1               anacondar_1    conda-forge
alsa-lib                  1.2.3                h516909a_0    conda-forge
argon2-cffi               20.1.0

[2021-10-01 01:57] sbslee commented on #30
I think you cut off the metadata lines. Can you add those as well?

[code]

[2021-10-01 02:02] sbslee commented on #30
Never mind. I found the problem. It looks like you somehow downloaded `dokdo` from PyPI:

[code]

There is another package named `dokdo` that just got published to PyPI a couple months ago (I'm currently trying to communicate with its author to see if he or she is willing to remove it from PyPI so I can upload mine -- their project seems like a toy project with only 4 commits). Anyways, that's why

[2021-10-01 05:49] JetbluejetYJ opened #31 "Update docs"
Please remove: `Pipeline` - `6. Summarize and Filter ASV Table` - `Taxonomy-Based Filtering` -  `filter-seqs`

[2021-10-01 07:01] sbslee commented on #31
Thanks, fixed in `60fd9f2`.

[2021-10-01 07:01] #31 closed

[2021-10-01 13:02] RayanaFeltrin commented on #30
Well, now it recognized the _taxa_abundance_bar_plot_ module... but should I have a level-6.csv file?

Because when I ran the same `dokdo.taxa_abundance_bar_plot` command that I mentioned in the beginning, I got the following error:

---------------------------------------------------------------------------
FileNotFoundError                         Traceback (most recent call last)
<ipython-input

[2021-10-01 17:27] RayanaFeltrin commented on #30
I've just realized that I put the wrong .qzv file... now I put the _taxa-bar-plots.qzv_ and it worked.

Thank you so much for your help!

Best,
Rayana

[2021-10-02 01:02] #30 closed

[2021-10-06 07:40] JetbluejetYJ opened #32 "Dokdo issue"
Please fix : Docs -> Dockdo API -> Main Plotting Methods -> alpha_diversity_plot -> Examples
qzv_file = '/Users/sbslee/Desktop/dokdo/data/moving-pictures-tutorial/faith_pd_vector.qza'

[2021-10-08 10:44] #32 closed

[2021-10-18 04:30] sbslee opened #33 "Update `make-manifest` command to ignore `Undetermined.fastq.gz`"
Current behavior of the command is to include undetermined files in the output. I would then manually remove the line with undertmined files from the manifest file. While this process has worked for me, this needs to be fixed.

[2021-10-18 05:10] #33 closed, assigned to nobody

[2021-12-09 01:42] sbslee opened #34 "`alpha_rarefaction_plot` apparently ignores 'N/A' values when plotting"

[2021-12-09 02:08] #34 closed

[2022-02-10 05:29] khemlalnirmalkar opened #35 "alpha and beta diversity without qiime file"
Hi @sbslee,
Can you add some codes to make alpha (Shannon, observed and evenness) and beta (Bray-Curtis and Jaccard index) with some plots from a normal text file?

If someone is not using qiime or shotgun data which comes as a normal text file, this code can be useful,
Of course, phylogenetic info cant be added here, but still, this is going to be useful,
There are vegan and phyloseq packages ava

[2022-02-10 07:11] sbslee commented on #35
@khemlalnirmalkar,

Thanks for the suggestion! I see this is similar to your previous request in #21, correct? As you can see in
1fd24aa, I just updated the `dokdo.alpha_diversity_plot` method to accept `pandas.DataFrame` as well. You'd still need to import your text file (CSV, TSV, etc.) into a dataframe object, but I'm assuming you're already familiar with that because that's the identical solut

[2022-02-10 23:28] sbslee commented on #35
Oops, forgot to attach the test input file (`test-alpha-diversity.csv`):

[test-alpha-diversity.csv](https://github.com/sbslee/dokdo/files/8044959/test-alpha-diversity.csv)

The regular QZA file is included in the `dokdo` repository (`dokdo/data/moving-pictures-tutorial/faith_pd_vector.qza`).

I will also leave a link to development documentation in case you want to check it out (there you will se

[2022-02-11 00:25] sbslee commented on #35
@khemlalnirmalkar,

The update is complete! Please let me know if you have additional methods you want that need to be updated.

Input test files:
[test-beta-diversity-2d.csv](https://github.com/sbslee/dokdo/files/8045164/test-beta-diversity-2d.csv)
[test-beta-diversity-3d.csv](https://github.com/sbslee/dokdo/files/8045166/test-beta-diversity-3d.csv)

[code]

[code]

[code]

[code]

![beta-2d-plot

[2022-02-11 01:33] khemlalnirmalkar commented on #35
Hi @sbslee,
Thank you so much for the update, this is great,
I was thinking to have codes to calculate the alpha (Shannon, observed and evenness) and beta-div  (Bray-Curtis and Jaccard index) and then make plots,
is it possible here? in R, generally works with vegan and also phyloseq (doesnt have evenness)
Thanks,

[2022-02-11 01:52] sbslee commented on #35
Unfortunately, what you are describing here (i.e. performing diversity analyses for non-QIIME 2 data) is beyond the scope of Dokdo. Sure, Dokdo can be -- and has been -- extended to *visualize* data from non-QIIME 2 software, but it's a whole different story to support *analyzing* such data. Hope this makes sense!

[2022-02-11 04:16] khemlalnirmalkar commented on #35
Yes, i can understand,
I was thinking if vegan or phyloseq can be added/import in Dokdo and run diversity analyses for taxonomy files from non-qiime2 data such as meta-genomic/transcriptomic data.
If it cant be, no worries,
this new update is more than i was wishing for,
Thanks again,
Cheers

[2022-02-11 04:19] #35 closed

[2022-03-06 20:49] khemlalnirmalkar opened #37 "correlation analysis"
Hi @sbslee,
Does correlation (spearman/Pearson) analysis with FDR-correction fall under Dokdo's scope of work?
If yes, is it possible to have a heatmap with correlation values for many factors/features or some scatter plots for individual features?

Thanks
Khem

[2022-03-06 23:44] sbslee commented on #37
Hi @khemlalnirmalkar,

Thanks for the suggestion! If it's a simple analysis that can be readily implemented, I'm glad to update Dokdo to support it.

That being said, to be honest, I'm still not 100% sure if I understand the type of analysis you're talking about ("correlation (spearman/Pearson) analysis with FDR-correction"). Could you please give me some concrete examples (e.g. figures from a pub

[2022-03-07 00:29] khemlalnirmalkar commented on #37
Hi @sbslee,
Thanks,
This is what I use in R for correlation with FDR/p-correction https://microbiome.github.io/tutorials/Heatmap.html
Scatter plot for correlations (see fig.2)  https://journals.asm.org/doi/pdf/10.1128/Spectrum.00034-21
(Fig. 7 & 8) https://rupress.org/jem/article-pdf/218/1/e20200606/1405371/jem_20200606.pdf
and attached a cartoon
FDR-correction for p-values https://en.wikipedia.or

[2022-03-08 03:54] sbslee commented on #37
@khemlalnirmalkar,

No worries at all. Your suggestions are already greatly appreciated.

As I understand it, it appears you want to perform cross-correlation analysis between microbiome vs. some matrices for shared samples, similar to the [tutorial](https://microbiome.github.io/tutorials/Heatmap.html) given by Leo Lahti and Sudarshan Shetty et al. So I looked at the tutorial and devised two metho

[2022-03-18 17:43] khemlalnirmalkar commented on #37
@sbslee,
This is great, thank you so much for making this function available,
My apologies for the late response,
Is it possible to pick one bacteria and make a scatter plot with p-values on it? (i had added an image earlier)
e.g.
**********************
          taxon      target      corr          pval      adjp
0      Ruminococcus gnavus et rel.  TG(54:5).2  0.716496  4.516954e-08  0.002284
***

[2022-03-21 00:08] sbslee commented on #37
I added a new method `cross_association_regplot` that I think gives you what you want.

[code]

To output:

[code]

Next, draw a scatter plot that shows association between `Ruminococcus gnavus et rel.` and `TG(54:5).2`:

[code]

![cross_association_regplot](https://user-images.githubusercontent.com/21111749/159191869-9d4bc169-96df-4942-8326-8b82cdcb53df.png)

Let me know what you think!

[2022-03-21 02:50] khemlalnirmalkar commented on #37
Hi @sbslee,
This is great, thank you so much for adding the method,
Do i need to install the new version or v1.13.0 will work?

[2022-03-21 03:32] sbslee commented on #37
The latest official version is `1.12.0`, and the new methods are implemented in the `1.13.0-dev` branch. Therefore, you would need to install the development version:

[code]

[2022-03-21 13:11] khemlalnirmalkar commented on #37
Okay, thanks @sbslee

[2022-03-30 04:29] sbslee commented on #37
Hi @khemlalnirmalkar,

Have you had a chance to test the new methods (`cross_association_table`, `cross_association_heatmap` and `cross_association_regplot`)? I'd like to publish the official release for 1.13.0 soon and I just wanted to make sure the new methods behave as they should for end users. Please let me know :)

[2022-03-30 04:39] khemlalnirmalkar commented on #37
@sbslee ,
Yes, i tried, and it looks great to me.
Sorry, i didn't mention it in my previous comment.
Thanks again for adding these new functions.

[2022-03-30 04:40] sbslee commented on #37
Lovely, thanks for letting me know and for this PR!

[2022-03-30 04:40] #37 closed

[2022-04-12 16:34] khemlalnirmalkar opened #39 "Plot options for `beta_2d/3d_plot` and `taxa_abundance_box_plot` methods"
Hi @sbslee

Recently, I noticed two minor things on Dokdo and thought you could help
1. beta_3D_plot doesn't have an option for colors, if possible please can you add
2. initially, I used to use the add_datapoints option for box plots, it's not working anymore

Thanks

[2022-04-12 23:52] khemlalnirmalkar commented on #39
@sbslee
For the beta_3D plot, i can't control the colors, e.g. if i want "gut" in red and "tongue" in blue, i can't do that. If I compare with bar plot where it allows me to use RGB color codes to choose the bacteria. it would be great to control the colors for other plots too.
 For box_plot it was a useful option adding data points. It helps a lot to see the variation in samples within a plot, sp

[2022-04-13 00:04] sbslee commented on #39
I see, thanks for the explanation. One way to work around this is to use the `hue_order` option as follows:

[code]

![beta-3d-plot-2](https://user-images.githubusercontent.com/21111749/163073529-b8952956-10a4-4e6c-8f48-a9426bf4fad1.png)

This gives you "`gut` in red and `tongue` in blue". But I will look into ways to more robustly control group color.

As for `add_datapoints`, again, thanks for t

[2022-04-13 00:51] khemlalnirmalkar commented on #39
Thanks @sbslee

[2022-04-13 00:54] khemlalnirmalkar opened #40 "differential abundance"
Hi @sbslee
I am curious to know, are differential analyses tools like lefse, ANCOM, ALDX2, and/or DeSeq2 for microbiota data out of scope for Dokdo?
it would be wonderful to have them in Dokdo, if it is not possible, then never mind,

Thanks

[2022-04-13 03:59] sbslee commented on #40
@khemlalnirmalkar,

Out of the aforementioned tools, I believe ANCOM is the only one that supports Python API via [scikit-bio](http://scikit-bio.org/). Therefore, the other tools are in no doubt out of scope for Dokdo. I will consider implementing ANCOM for Dokdo, but it may take a while since it's not high priority. But as usual, thanks for the idea. I always welcome feature requests :) Please le

[2022-04-13 04:30] khemlalnirmalkar commented on #40
Oh, okay, sounds great,
Thanks

[2022-04-16 03:28] sbslee commented on #39
New in `1.14.0-dev` (3ba0b63): A new optional argument, `palette`, has been added to the `beta_2d_plot` method so that users can manually select the group-to-color mapping ([documentation](https://dokdo.readthedocs.io/en/1.14.0-dev/dokdo_api.html#module-dokdo.api.beta_2d_plot)).

[2022-04-16 03:29] sbslee commented on #39
Example usage:

[code]

![beta_2d_plot-3](https://user-images.githubusercontent.com/21111749/163659815-0abe7588-09b2-430f-9244-7394742e4cdd.png)

[2022-04-16 03:58] sbslee commented on #39
Also updated the `beta_3d_plot` method.

[code]
![beta_3d_plot-3](https://user-images.githubusercontent.com/21111749/163660567-bbc77c71-01de-4df0-a1ab-e97655a71a42.png)

[2022-04-16 05:46] sbslee commented on #39
@khemlalnirmalkar,

I brought back the `add_datapoints` option to the `taxa_abundance_box_plot` method! Hope this helps.

[code]

![taxa_abundance_box_plot-6](https://user-images.githubusercontent.com/21111749/163663331-75137fa4-e246-4079-81c0-2139b260dd73.png)

[2022-04-16 05:47] sbslee commented on #39
I believe all of the requested features have been added to the `1.14.0-dev` branch. Please try these when you get a chance and let me know if they all behave as expected. I will close this issue once testing is finished.

[2022-04-17 19:56] khemlalnirmalkar commented on #39
Hi @sbslee
This new version v1.14 is working great with all updated features
Thank you so much for doing it

[2022-04-17 22:27] #39 closed

[2022-04-21 00:33] khemlalnirmalkar commented on #17
Hi @sbslee,
Did you change the options for "artist_kwargs=dict(title='Group B', xticklabels_fontsize=14, hide_ylabel=True,
                                                hide_yticks=True)), in version 1.14?
it was a useful function to play with title and font size,
do you recommend to use version 1.10 for this function or something can be implemented in version 1.14 (i hope i ma not missing the o

[2022-04-21 04:11] sbslee commented on #17
@khemlalnirmalkar,

As noted in [CHANGELOG](https://dokdo.readthedocs.io/en/latest/changelog.html), the `artist_kwargs` option was removed  in a series of previous releases (`1.10.0` and `1.11.0`). You can read why in #19, but long story short: `artist_kwargs` was getting unnecessarily complicated.

That being said, please note everything that could be once achieved by `artist_kwargs` can be still

[2022-04-24 02:40] khemlalnirmalkar commented on #39
Hi @sbslee
One strange thing i observed with beta_2D plot,
when i am making only one 2D plot, color combination is working well, but when i am 4 plots together, colors are chnaging,
please can you suggest, whats going on
***my code was
import dokdo
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set()

weg_file = '/mnt/storage//run1/placebo_donors//core-metrics-results

[2022-04-24 02:41] khemlalnirmalkar commented on #17
@sbslee Thanks
Yes, i started checking the options,

[2022-04-24 03:29] sbslee commented on #39
@khemlalnirmalkar,

I see that you've defined the `palette` variable, but you've never used it. For example,

[code]

Try again with `palette` added.

[2022-04-24 16:41] khemlalnirmalkar commented on #39
A silly mistake, my apologies,
Thanks

[2022-06-15 07:15] JetbluejetYJ opened #41 "dokdo beta_parallel_plot issue"
안녕하세요, dokdo를 사용하고 있고 많이 배워가고 있는 새내기 과학자입니다.
dokdo에서 `beta_parallel_plot` 을 사용하여 2개의 axis에 plot을 그려보려고 했으나 Warning이 발생하여 문의드립니다.
2개의 ax1, ax2를 그리고, 각각 plot을 그리려고 했지만 한곳에 모두 그려지는 현상을 발견했습니다.
각종연구로 인해 많이 바쁘시겠지만 확인부탁드립니다 :)

[code]

[2022-06-15 07:20] sbslee commented on #41
Fixed in 836410a

[2022-06-15 07:30] #41 closed

[2022-06-28 23:44] JetbluejetYJ opened #43 "taxa_abundance_bar_plot issue"
안녕하세요 @sbslee
dokdo API들 중, taxa_abundance_bar_plot 관련 문의 드립니다.

다양한 parameter들 중에서 sample 이름으로만 제거하거나 혹은 keep할 수 있는 option이 없는데
혹시 추가 가능하실까요?

각종 연구로 많이 바쁘실텐데 항상 도움 주셔서 감사합니다.

[2022-06-30 04:19] sbslee commented on #43
There's already an option in the `taxa_abundance_bar_plot` method called `sample_names` that you can use to select which samples to display. Closing this.

[2022-06-30 04:19] #43 closed

[2022-07-14 23:42] sbslee opened #44 "Add the rank abundance curve plot"
A user in the QIIME 2 forum suggested to add the rank abundance curve plot to Dokdo (see [post](https://forum.qiime2.org/t/python-tutorial-data-visualization-with-dokdo-api/17380/19?u=sbslee)). Below is an example from the post:

![d1655075456f8d0b2a22fa9e4e6193a1d2769b6b](https://user-images.githubusercontent.com/21111749/179119035-8ce8aa23-60b3-42b7-81c2-4595303de32a.jpeg)

[2022-08-01 19:11] khemlalnirmalkar opened #45 "exclude "others" from relative abundance and plot"
Hi @sbslee
1. How can i remove "others" from the relative abundance bar-plot and plot the rest of them?
I understand that bar plot will not be 100%.
2. If you see the attached image, the order of colors in bars (e.g. orange at the bottom) and legends (orange on top) are almost in opposite directions. How can I keep both of them in the same order?

Thanks

![image](https://user-images.githubusercon

[2022-08-02 00:36] mishkb commented on #45
Hi @khemlalnirmalkar

To not show the Others in the taxa abundance bar plot - use the flag `show_others=False` (it is True by default). Use the same flag in the plot for the legend if you are building the figure as 2 plots (bar plot and legend).

To reverse the order of the legend - the code below worked for me as @sbslee details in this closed issue:
https://github.com/sbslee/dokdo/issues/26#issu

[2022-08-02 00:46] sbslee commented on #45
@mishkb, I cannot say thank you enough for your post! Not only your answer is right on the spot, it is also concise and fully backed :) Really appreciate your help.

@khemlalnirmalkar, please let me know if you have additional questions!

[2022-08-02 13:38] khemlalnirmalkar commented on #45
Hi @mishkb Thank you so much for your help,
I was able to resolve my both queries,
Cheers

[2022-08-02 13:38] #45 closed

[2022-09-21 19:48] rupesh-sinha opened #47 "ModuleNotFoundError: No module named 'skbio'"
Hi,

I installed dokdo using the following command when in conda environment qiime2-2022.8

[code]

However, I do not understand where I have to run the below script for plotting the taxa barplot. I assumed I can run it on Jupyter Notebook and did that but got the below error. Please let me know where I am going wrong

[code]

#I am new to API, your guidelines will be a big help!

[2022-09-21 23:01] sbslee commented on #47
@rupesh-sinha,

You are correct to use Dokdo API with Jupyter Notebook. The error message suggests that you don't have the `skbio` package installed in your current conda environment, which is a required package for running QIIME 2. Therefore, this indicates that you are not currently running your Jupyter Notebook in a conda environment with QIIME 2 installed.

1. Are you sure you activated your `

[2022-09-22 14:02] rupesh-sinha commented on #47
Hi sbslee,

Many thanks for your reply. You are right  I was not running the `jupyter notebook` from conda environment. However, I `pip install jupyter` in conda environment now and running `jupyter notebook` from my qiime2-2022.8 env. I got the output for the script but unable to understand where to look for the result or whether it created any plot. Sorry I am very new to API!
Below is script I

[2022-09-22 23:01] sbslee commented on #47
@rupesh-sinha,

If the issue is that you are not seeing any plots after running `dokdo.taxa_abundance_bar_plot()`, you need to set the magic function `%matplotlib inline` as shown below:

[code]

Now the output of plotting methods will be displayed inline within Jupyter Notebook. More information can be found in [Dokdo API](https://dokdo.readthedocs.io/en/latest/dokdo_api.html#introduction) which

[2022-09-24 02:41] rupesh-sinha commented on #47
Thanks sbslee!

import matplotlib.pyplot as plt
%matplotlib inline

solved the issue. Also got to learn other useful parameters which I wanted to apply like using exclude_sample etc.
Just wanted to know if we want to plot more than 8 counts what would be options to choose color palette. At the moment when I do count 10 or more it starts repeating the colors.

Thanks for your valuable guidance!

[2022-09-24 09:04] sbslee commented on #47
@rupesh-sinha,

If you look at the [documentation](https://dokdo.readthedocs.io/en/latest/dokdo_api.html#taxa-abundance-bar-plot) for `dokdo.taxa_abundance_bar_plot()` I provide a number of examples. There, you will see that `cmap_name='tab20'` is used with `count=20`. You can find more color map options [here](https://matplotlib.org/stable/tutorials/colors/colormaps.html#qualitative).

[2022-09-24 10:48] rupesh-sinha commented on #47
Thanks!
For legends I found a script to plot it separately from the figure which was very helpful, thanks for  providing these examples. Is there a way to remove characters like 'D_5_' from the legends?

[2022-09-24 11:43] sbslee commented on #47
@rupesh-sinha, if you are asking how to modify legend text labels, I recommend that you search in places like Stack Overflow (e.g. check out this [post](https://stackoverflow.com/questions/23037548/change-main-plot-legend-label-text)).

[2022-09-29 06:18] sbslee commented on #47
Please feel free to reopen this if necessary!

[2022-09-29 06:18] #47 closed

[2022-11-17 06:08] yonghyun09 opened #48 "ImportError: libhdf5_cpp.so.200: cannot open shared object file: No such file or directory"
Hi @sbslee
One day while I was using the library, the following error occurred during the import process. Could you please ask for help on this? Error codes generated during import are attached as follows.
---------------------------------------------------------------------------
ImportError                               Traceback (most recent call last)
Cell In [13], line 1
----> 1 import dokdo

[2022-11-17 19:55] sbslee commented on #48
@yonghyun09,

Thanks for the question. That's some weird error that I have not encountered before. Can you show me the output of the command `$ conda list` in your QIIME 2 environment?

Alternatively, I suggest that you try again after creating a new fresh conda environment for QIIME2 and Dokdo. Have you tried this?

[2022-11-18 07:21] yonghyun09 commented on #48
@sbslee

thank you After a lot of various attempts, I confirmed that the problem was solved when I rebuilt the qiime2 and conda environment as you said.
As a guess as to the cause of the problem, it seems that these errors were caused by changes caused by recent updates to conda and qiime. [https://forum.qiime2.org/t/qiime-2022-8-install-broken-on-linux-incorrect-hdf5-versions/24260/6](url)

The v

[2022-11-18 20:32] #48 closed

[2022-11-29 22:19] rupesh-sinha opened #49 "Select samples for PCoA"
Hi sbslee,
I was using dokdo for plotting PCoA as below:

[code]

which is working fine.
But,
I was wondering if we can have function like 'where' or 'include_samples' or 'exclude_samples' or something like that to control the samples to be presented on the plot.

Thanks